body{
    background-color: rgb(236, 236, 56);
}



.header{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
 text-decoration: none;
    color: black;
padding:40px;
    font-size: 20px;
   
    background-color: black;
margin-top: 50px;
    font-size: 20px;
   
    background-color: black;

margin-bottom: 20px;
overflow: hidden;
border-radius: 100px;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;

   
}


.header h3:hover{
transition-property: color;
transition-duration: 1000ms;
cursor: pointer;
color: rgb(236, 236, 56);
 scale: 1.5;
}

#logo_image{
    border-radius: 20px;
}

#taal{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
   margin-right: 50px;
   margin-bottom: 200px;
}

#openingsuren{
    background-image:url(../images/clockbanner.jpg);
   color: white;
margin-right: 30%;
margin-left: 30%;
text-align: center;
border-radius: 60px;
padding: 10px;
font-size: 20px;
  
}

#tabeluur{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#infoknop{
   
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
 display: block;
 justify-content: center;

}
