
body{
    background-color: rgb(236, 236, 56);
}

#info{   
    padding: 60px;
    display: flex;      
    flex-direction: column;
padding: 100px;
    margin-left: 20%;
    margin-right: 20%;
 background-color: black;
    color: white;
    border-radius: 60px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 150px;	
   text-align:center;
 
    color:white;
    background-color: black;
margin: 0%;


  
   

    font-size: 15px;
    transform: scale(1.2);
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
}


#logo_image{
    border-radius: 20px;
}

.header{
  
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
 text-decoration: none;
    color: black;
margin-top: 50px;
    padding:40px;
    font-size: 20px;
   
    background-color: rgb(0, 0, 0);
   
margin-bottom: 100px;
overflow: hidden;
border-radius: 100px;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}
.header h3:hover{
    transition-property: color;
    transition-duration: 1000ms;
    color: yellow;
cursor: pointer;
scale: 1.5;

}
#footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
   padding-top: 40px;
   padding-bottom: 40px;
    width: 100%;
    overflow: hidden;
    

}



#infopicture{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 200px;
    margin-bottom: 300px;
    padding: auto   ;

}

#title{
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 50px;

}
#taal{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
   margin-right: 50px;
   margin-bottom: 200px;
}
.app:hover{
    transform: scale(1.2);
    transition-duration: 1000ms;
    cursor: pointer;

}

#contactinfo{
background-color: black;
  
   margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 150px;
    padding: 60px;
    border-radius: 60px;
}

#textcontact{
    padding: 50px;
    font-family:fantasy ;
   margin-left: 150px;
   margin-right: 150px;
    font-size: 30px; 
    font-weight:bolder;
    color: whitesmoke;
    margin-bottom: 100px;
    letter-spacing: 2px;
}

#contactus24{
    margin-bottom: 100px;
    font-size: 40px;
    letter-spacing: 4px;
    color: whitesmoke;
}