
body{
    background-color: rgb(236, 236, 56);
}

#info{   
    padding: 60px;
    display: flex;      
    flex-direction: column;
padding: 100px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    color: white;
    border-radius: 60px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 150px;	
   text-align:center;
 
    color:white;
    background-color: black;
margin: 0%;


  
   

    font-size: 15px;
    transform: scale(1.2);
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
}


#logo_image{
    border-radius: 20px;
}

.header{
  
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
 text-decoration: none;
    color: black;
margin-top: 50px;
    padding:40px;
    font-size: 20px;
   
    background-color: rgb(0, 0, 0);
   
margin-bottom: 100px;
overflow: hidden;
border-radius: 100px;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}
.header h3:hover{
    transition-property: color;
    transition-duration: 1000ms;
    color: yellow;
cursor: pointer;
scale: 1.5;

}
#footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
   padding-top: 40px;
   padding-bottom: 40px;
    width: 100%;
    overflow: hidden;
    

}

#contactform{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 150px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 200px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#form{
    display: flex;
    flex-direction: column;
text-align: center;
  width: 50%;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 250px;
    padding-bottom: 300px;
    margin-right: auto;
    margin-left: auto;
  background-image:url(../images/Bill_market_logo.jpg)  ;
    color: black;
    border-radius: 20px;

    font-size: 35px;
    font-style: italic;


}

#infopicture{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 150px;
    padding: auto   ;

}

#title{
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 50px;

}
#taal{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
   margin-right: 50px;
   margin-bottom: 200px;
}
.app:hover{
    transform: scale(1.2);
    transition-duration: 1000ms;
    cursor: pointer;

}

#contactinfo{
    background-color: black;
    color: white;
    text-align: center;
}