body{
    background-color: rgb(236, 236, 56);
}


#logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

transition:ease-in;
transform: scale(1.2);
transition-duration: 2000ms;

}

#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#error{
    margin-top: 50px;
    color: red;
    font-size: 20px;
}