#logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
transform: scale(1.5);
transition-duration: 1000ms;

}

#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
