body{
    background-color: rgb(236, 236, 56);
}



.header{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
 text-decoration: none;
    color: black;

    font-size: 20px;
   
    
   
margin-bottom: 200px;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 50px;
}
.header h3:hover{

    color: white;
cursor: pointer;

}

#logo_image{
    border-radius: 20px;
}
#maps{
  margin-left: 250px;
  display: flex;
    flex-direction: row;
    margin-right: 150px;
    margin-bottom: 200px;
}

#text-maps{
  
  font-size: 20px;
    margin-right: 150px;
    text-align: justify;
}

#banner{
    display: flex;
    justify-content: center;

    margin-bottom: 200px;
 
}

#text-gps{
    display: flex;
    flex-direction:column;
      margin-left: 50px;

}
.gpsimg1{
    border-radius: 30px;
    margin-left: 5px;
}

.gpsimg1:hover{
    cursor: pointer;
    
}