body{
    background-color:  white;
color: white;
    margin: 0px;
    padding: 0px;
}





.header{
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
 text-decoration: none;
    color: black;

    padding:40px;
    font-size: 20px;
   
    background-color: rgb(0, 0, 0);
   


}
.header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}
.header h3:hover{
    transition-property: color;
    transition-duration: 0.5s;
    color: red;
    cursor: pointer;
    scale: 1.5;
}

#logo_image{
    border-radius: 20px;
}

.banner{
    background-color: rgb(220, 35, 35);
    
    


 
 
}
.banner img:hover{
  
    transform:scale(1.2);
transition-duration: 1000ms;
 
}

#bouzzimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
border-radius: 20px;

  padding-bottom: 200px;
}



.picture-text{
   
    display: flex;
      flex-direction: row;
  
  background-color: black;
  padding: 100px;

      margin-bottom: 100px;
     
  }
  #video-bouzz{
    margin-left: 200px;
  }

  #text{
    font-size: 30px;
      font-display: flex;
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 150px;
        font-family: 'Times New Roman', Times, serif;
     
  }
  #footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
   padding-top: 40px;
   padding-bottom: 40px;
    width: 100%;
    overflow: hidden;

    

}

#taal{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
   margin-right: 50px;
   margin-bottom: 200px;
   padding-top: 50px;
}

.app:hover{
    transform: scale(1.2);
    transition-duration: 1000ms;
    cursor: pointer;

}

#vlees{
display: flex;
flex-direction: row;
justify-content:space-evenly;
flex-wrap:wrap;
padding-left: 100px;
padding-right: 100px;


}
.product{
    color: black;
   font-size: 40px; 
   list-style-type: none;
   text-align: center;
   padding: 20px;
   margin-bottom: 20px;
   margin-top: 20px;
   border: 6px solid black;
   border-radius: 20px;
   border-style: groove;
 
}
.pictureprod{
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
}
#producttitle{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;   
    text-decoration: underline;

}
#categorie-box{
  
   
         margin-left: 200px;
         margin-right: 200px;
         margin-bottom: 200px;
         padding-top: 50px ;
      
 }
 